@charset "UTF-8";
/*------------------- Reseteo de estilos por defecto -------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  line-height: initial;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 20px;
  font-weight: 300;
  font-size: 15px;
  background-color: #ffffff; }

html {
  background-color: #ffffff; 
}

/*-------------------Clases Globales -------------------*/
.text-justify{ text-align: justify; }
.sin-m{ margin: 0; }
.sin-p{ padding: 0; }

/*------------------- Variables globales -------------------*/
:root{
  --bg-gris-claro: #eaeaea;
  --bg-azul-claro: #a5b6bd;
  --bg-azul-intermedio-1: #006197;
  --bg-azul-oscuro: #223658;
  --color-gris-claro: #eaeaea;
  --color-gris-intermedio: #8c8c8c;
  --color-gris-oscuro: #737373;
}

/*------------------- Navbar -------------------*/
.navbar .navbar-brand img { width: 150px; }
.navbar .navbar-nav li > a { 
    color: #fff;
    font-size: 16px; 
}
.navbar .w-nav{ width: 70%; }
.navbar .iconos > i { font-size: 18px; }
.navbar .iconos > a {
    padding-left: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff
}

/*------------------- Nosotros -------------------*/
.nosotros { 
  background-color: var(--bg-gris-claro);
  padding: 4em 0;
}
.nosotros h3, .nosotros .quienes-somos h2, .nosotros .quienes-somos p, .nosotros .quienes-somos button,
.equipo h3, .equipo p, .servicios h3 {
  color: var(--color-gris-oscuro);
  font-family: Avenir;
  line-height: 120%;
}
.nosotros h3, .nosotros .quienes-somos p, .equipo h3, .equipo p, .servicios h3 { font-size: 15px; }
.nosotros h3, .nosotros .quienes-somos button, .equipo h3, .servicios h3 { letter-spacing: 4px; }
.nosotros .separador, .equipo .separador, .servicios .separador {
  height: 0.8px;
  background-color: var(--color-gris-oscuro);
}
.nosotros .quienes-somos h2 {
  font-family: Avenir-Black;
  font-size: 120px;
  line-height: 95px;
  letter-spacing: -8px;
}
.nosotros .quienes-somos h2 span {
  font-family: Avenir;
  font-size: 28px;
  letter-spacing: 28px;
}
.nosotros .quienes-somos .description{ padding-left: 15em; }
.nosotros .quienes-somos button{
  background-color: var(--color-gris-oscuro);
  color: var(--color-gris-claro);
  font-size: 13px;
  padding: 3px 12px;
  border-radius: 5px;
}

/*------------------- Equipo -------------------*/
.equipo { padding: 4em 2em; }
.equipo img{ width: 35%; }
.equipo p {
  position: relative;
  top: 80px;
  left: -70px;
  line-height: 100%;
}

/*------------------- Alcance Global -------------------*/
.alcance-global{
  background-image: url('../img/Fondo_Mapa.png');
  background-size: cover;
  padding: 8em 0 10em 0;
}
.alcance-global h2 span, .nuestro-compromiso h2 span { 
  font-size: 40px;
  letter-spacing: 40px;
}
.alcance-global h2 {
  font-size: 103px;
  line-height: 103px;
}

.alcance-global p, .nuestro-compromiso p {
  font-size: 18px;
}

/*------------------- Nuestro Compromiso -------------------*/
.nuestro-compromiso{
  padding: 3em 0 6em 0;
  background-color: var(--bg-azul-claro);
}
.nuestro-compromiso img { width: 9em; }
.nuestro-compromiso p { padding-top: 35px; }
.nuestro-compromiso .cont-compromisos{ padding: 40px 0 0 40px; }
.nuestro-compromiso h2 { 
  letter-spacing: -7px; 
  line-height: 90px;
  font-size: 110px;
}

/*------------------- Experiencia -------------------*/
.experiencia{
  padding: 4em 0;
  background-color: var(--bg-azul-oscuro);
}
.experiencia img { width: 90%; position: relative; left: 100px;}
.experiencia h2 {
  padding-top: 0.7em;
  font-family: Avenir-Black;
  font-size: 160px;
  line-height: 90%;
  position: relative;
}

/*------------------- Servicios -------------------*/
.servicios {padding: 3em 0 5em 0;}
.servicios .produccion h2 {
  padding-top: 0.8em;
  font-family: Avenir-Black;
  color: var(--color-gris-intermedio);
  font-size: 120px;
  line-height: 50%;
  letter-spacing: -6px;
}
.servicios .produccion h2 span { 
  color: var(--color-gris-oscuro);
  font-size: 80px;
}

.servicios .eventos{ padding-top: 2em;}
.servicios .eventos h3 {
  font-family: Avenir;
  font-size: 38px;
  line-height: 30%;
  letter-spacing: -2px;
}

.servicios .eventos h3 span {
  font-family: Avenir-black; 
  font-size: 60px; 
  padding-left: 0.5em;
}
.servicios .eventos ul, .comunicacion-integral ul { 
  list-style-image: url("../img/icono-eventos-2.png"); 
  color: var(--color-gris-oscuro);
}

.servicios .eventos ul li, .comunicacion-integral ul li { 
  padding-top: 0.6em; 
  font-weight: bolder;
}

/*------------------- Comunicación Integral -------------------*/
.comunicacion-integral { background-color: var(--bg-gris-claro); }

.comunicacion-integral h2{
  font-family: Avenir-black;
  color: var(--color-gris-intermedio);
  font-size: 90px;
  line-height: 40%;
  letter-spacing: -5px;
  padding-top: 1.4em;
}

.comunicacion-integral h2 span { 
  color: var(--color-gris-oscuro);
  font-size: 80px;
}

.comunicacion-integral img{
  width: 80%;
}

/*------------------- Asesoría -------------------*/
.asesoria{
  padding: 4em 0 5em 0;
  background-color: var(--bg-azul-intermedio-1);
}

.asesoria h2{
  font-family: Avenir-black;
  font-size: 120px;
  line-height: 40%;
  padding-top: 0.9em;
  letter-spacing: -5px;
}

.asesoria h2 span {
  font-size: 25px;
  letter-spacing: 10px;
  font-family: Avenir;
}

.asesoria .items-asesoria{ padding-top: 2em; }
.asesoria .items-asesoria img { width: 80px; }
.asesoria .items-asesoria div:first-child img { width: 60px; }
.asesoria .items-asesoria p {
  font-family: Avenir;
  line-height: 25px;
  line-height: 130%;
  padding-top: 1em;
}

/*------------------- Carbono Neutro -------------------*/
.carbono-neutro{
  background-color: #539138;
  padding: 6em 0 5em 0;
}

.carbono-neutro img{
  position: absolute;
  left: 65%;
  width: 170px;
}

.carbono-neutro h4, .carbono-neutro h2 { font-family: 'Avenir-Black'; }
.carbono-neutro h3, .carbono-neutro p, .carbono-neutro span { font-family: Avenir; }
.carbono-neutro p, .carbono-neutro span { font-size: 19px;}

.carbono-neutro span {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 15px;
}

.carbono-neutro h4 {
  font-size: 22px;
  background-color: #fff;
  width: fit-content;
  color: #539138;
  padding: 0 0.3em;
  letter-spacing: 0.5em;
}

.carbono-neutro h3 {
  letter-spacing: 0.8em;
  font-size: 38px;
}

.carbono-neutro h2 {
  font-family: 'Avenir-Black';
  font-size: 155px;
  letter-spacing: -15px;
  line-height: 100%;
  margin-left: -5px;
}


/*------------------- Media Querys -------------------*/
@media(max-width: 1920px){
  
}

@media(max-width: 1700px){
  .alcance-global{padding: 6em 0 8em 0;}

  .nuestro-compromiso img {width: 8em;}

  .experiencia h2 {padding-left: 0.3; font-size: 145px;}

  .comunicacion-integral img{width: 92%;}
}

@media(max-width: 1580px){
  .nosotros .quienes-somos .description { padding-left: 12em;}

  .equipo p{ left: -0.8em;}

  .experiencia h2 { padding-top: 0.5em; font-size: 135px;}

  .servicios .produccion h2{ font-size: 105px; line-height: 40%;}
  .servicios .produccion h2 span, .comunicacion-integral h2 span { font-size: 70px;}
  .servicios .eventos h3 {font-size: 35px;}
  .servicios .eventos h3 span{font-size: 55px;}

  .comunicacion-integral h2 { 
    font-size: 80px;
    padding-top: 1.4em;
  }
  .comunicacion-integral img{ width: 95%;}

  .asesoria h2{ font-size: 105px; padding-top: 0.7em;}

  .carbono-neutro h4 {font-size: 20px;}
  .carbono-neutro h3{font-size: 32px;}
  .carbono-neutro h2{font-size: 135px;}
  .carbono-neutro img{width: 150px; left: 70%;}
  
}

@media(max-width: 1400px){
  .equipo img{ width: 40%;}

  .nuestro-compromiso .cont-compromisos {padding: 20px 0 0 40px;}
  .nuestro-compromiso img {padding-top: 2em;}

  .experiencia img { left: 10px;}
  .experiencia h2 {
    padding-left: 0; 
    left: -50px;
    font-size: 120px;
  }

  .servicios .produccion h2{ font-size: 95px; line-height: 40%;}
  .servicios .produccion h2 span{ font-size: 60px;}

  .comunicacion-integral h2 { 
    font-size: 70px;
    padding-top: 1.2em;
  }
  .comunicacion-integral h2 span{font-size: 60px;}
  .comunicacion-integral img{ width: 85%;}

  .asesoria h2{ font-size: 95px; padding-top: 0.6em;}
  .asesoria h2 span{ font-size: 22px;}
  .asesoria .items-asesoria img{width: 70px;}
  .asesoria .items-asesoria div:first-child img{width: 52px;}
}

@media(max-width: 1200px){
  .navbar .w-nav{ width: 90%; }

  .nosotros .quienes-somos .description { padding-left: 10em; }
  .nosotros .quienes-somos h2 { font-size: 100px; }
  .nosotros .quienes-somos h2 span { font-size: 25px;}

  .alcance-global h2 span, .nuestro-compromiso h2 span{ font-size: 30px; }
  .alcance-global h2, .nuestro-compromiso h2{
    font-size: 83px;
    line-height: 83px;
  }
  .alcance-global p, .nuestro-compromiso p {font-size: 16px;}

  .servicios .produccion h2{ 
    font-size: 80px; 
    line-height: 40%;
    padding-top: 1em;
  }
  .servicios .produccion h2 span{ font-size: 55px;}
  .servicios .eventos h3 {font-size: 32px;}
  .servicios .eventos h3 span{font-size: 45px;}

  .comunicacion-integral h2 { 
    font-size: 60px;
    padding-top: 1.4em;
  }
  .comunicacion-integral h2 span{font-size: 50px;}
  .comunicacion-integral img{ width: 100%;}

  .asesoria h2{font-size: 85px;}
}

@media(max-width: 1100px){
  .alcance-global { padding: 4em 0 6em 0;}

  .nuestro-compromiso img {width: 7em;}

  .experiencia img{
    position: relative;
    left: 20px;
  }
  .experiencia h2 { 
    padding-top: 0.3em;
    font-size: 110px;
    left: -20px;
  }

  .comunicacion-integral img{width: 104%;}
}

@media(max-width: 991px){
  .nosotros .quienes-somos .description { padding-left: 4em;}
  .nosotros .quienes-somos h2 { font-size: 90px; line-height: 75px;}
  .nosotros .quienes-somos h2 span { font-size: 22px;}

  .equipo img { width: 35%;}

  .alcance-global h2 span, .nuestro-compromiso h2 span { 
    font-size: 25px;
    letter-spacing: 30px;
  }
  .alcance-global h2, .nuestro-compromiso h2 {
    font-size: 75px;
    line-height: 75px;
  }
  .alcance-global p, .nuestro-compromiso { font-size: 15px;}

  .experiencia h2 { font-size: 90px;}

  .servicios {padding: 4em 0 4em 0;}
  .servicios .produccion h2{ 
    font-size: 70px; 
    line-height: 40%;
  }
  .servicios .produccion h2 span{ font-size: 45px;}

  .comunicacion-integral h2 { 
    font-size: 55px;
    letter-spacing: -5px;
    padding-top: 1.4em;
  }
  .comunicacion-integral h2 span{font-size: 45px;}
  .comunicacion-integral img {width: 95%;}
}

@media(max-width: 850px){
  .comunicacion-integral h2{ font-size: 55px; letter-spacing: -3px;}
  .comunicacion-integral img{width: 100%;}

  .asesoria h2{font-size: 75px;}
  .asesoria h2 span{font-size: 20px;}
}

@media(max-width: 768px){
  .nosotros .quienes-somos .description { padding: 0 1em 0 1em;}
  .nosotros .quienes-somos button { font-size: 11px; }
  .nosotros .quienes-somos h2 { 
    font-size: 80px; 
    line-height: 70px; 
    text-align: center;
  }
  .nosotros .quienes-somos h2 span { font-size: 20px;}

  .equipo img{ width: 30%; }

  .nuestro-compromiso .cont-compromisos{padding: 20px 0 0 0;}

  .experiencia h2 { 
    text-align: center;
    left: 0;
    font-size: 75px;
    padding: 0.7em 0 0 0; 
  }
  .experiencia h2 br{ display: none;}

  .servicios .eventos h3 {font-size: 28px;}
  .servicios .eventos h3 span{font-size: 40px;}

  .comunicacion-integral img {
    width: 70%;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .asesoria .items-asesoria img{width: 80px; padding-bottom: 0.5em;}
  .asesoria .items-asesoria div:first-child img{width: 58px;}
  .asesoria .items-asesoria div{padding: 1em 0 1.7em 0;}
}

@media(max-width: 640px){
  .nosotros .quienes-somos h2 { 
    font-size: 70px; 
    line-height: 60px; 
    letter-spacing: -5px;
  }
  .nosotros .quienes-somos h2 span { font-size: 18px;}
  .nosotros .quienes-somos .description { padding: 0 0.5em 0 0.5em;}

  .equipo{padding: 2em 1em;}
  .equipo p {
    top: 80px;
    font-size: 13px;
  }

  .alcance-global h2 span, .nuestro-compromiso h2 span {
    font-size: 22px;
    letter-spacing: 22px;
  }
  .alcance-global h2 { 
    font-size: 70px;
    line-height: 70px;
  }
  .nuestro-compromiso h2 { 
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
  }

  .experiencia img { 
    left: 0;
    width: 100%;
  }
  .experiencia h2, .servicios .produccion h2 { font-size: 65px;}
}

@media(max-width: 575px){
  .experiencia h2 {padding: 0.9em 0 0 0;  font-size: 60px;}

  .servicios .produccion h2 { 
    font-size: 60px;
    letter-spacing: -4px;
    padding-top: 1.3em;
    padding-bottom: 0.3em;
  }

  .servicios .eventos h3 span {font-size: 35px;}

  .comunicacion-integral h2{font-size: 45px;}
  .comunicacion-integral img {width: 80%;}
  .comunicacion-integral ul{padding-left: 2.8em !important;}

  .asesoria h2{font-size: 65px;}
  .asesoria .items-asesoria{padding-top: 0.3em;}
  .asesoria .items-asesoria img{font-size: 62px; padding-bottom: 0.2em;}
  .asesoria .items-asesoria div:first-child img{font-size: 40px;}
}

@media(max-width: 540px){
  .nosotros h3 { font-size: 13px;}

  .equipo img {width: 35%;}
  .equipo p {
    top: 60px;
    left: 0.5em;
    font-size: 12px;
  }

  .alcance-global h2 { 
    font-size: 58px;
    line-height: 58px;
  }
  .nuestro-compromiso h2 { 
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -3px;
  }

  .experiencia h2, .servicios .produccion h2 { font-size: 50px;}

  .servicios .produccion h2 span {font-size: 35px;}
  

}

@media(max-width: 420px){
  .equipo p{font-size: 11px; }

  .experiencia h2 { font-size: 45px;}

  .comunicacion-integral img {width: 90%;}
  .comunicacion-integral h2{font-size: 40px; }

  .asesoria h2{font-size: 55px;}
}

@media(max-width: 360px){
  .equipo{ padding: 3em 0em; }

}